<h1>Listing super_dashboards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @super_dashboards.each do |super_dashboard| %>
      <tr>
        <td><%= link_to 'Show', super_dashboard %></td>
        <td><%= link_to 'Edit', edit_super_dashboard_path(super_dashboard) %></td>
        <td><%= link_to 'Destroy', super_dashboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dashboard', new_super_dashboard_path %>
