<p id="notice"><%= notice %></p>

<% if current_admin %>

    signed in as <%= current_admin.email %>
<% end %>

companies:
<hr>
<% @companies.each do |company| %>
<%= link_to company.name, company %>
<br>
    <%end%>


<%= link_to 'Edit', edit_super_dashboard_path(@super_dashboard) %> |
<%= link_to 'Back', super_dashboards_path %>
