<%= simple_form_for @user do |f| %>

    <div class="form-inputs form-group">
    <%= f.text_field :uid, :placeholder => "Name", class: 'form-control' %> <br/>
    <%= f.hidden_field :provider, value: "email"  %>
    <%= f.text_field :email, :placeholder => "Email", class: 'form-control' %> <br/>
    <%= f.password_field :password, :placeholder => "Password", class: 'form-control' %><br/>
    <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", class: 'form-control' %><br/>
    <%= f.hidden_field :company_id, value: current_admin.company_id %>
    </div>

    <div class="form-actions">
    <%= f.button :submit %>
    </div>
<% end %>
<br/>
