<%= simple_form_for(@company) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs form-group">
      <%= f.text_field :name, :placeholder => "Name", class: 'form-control' %> <br/>
      <%= f.text_field :website, :placeholder => "Website", class: 'form-control' %>
      <br/>
      <%= f.text_field :stripe_test_publishable_key, :placeholder => "Test - Stripe Publishable Key", class: 'form-control' %><br/>
      <%= f.text_field :stripe_test_secret_key, :placeholder => "Test - Stripe Secret Key", class: 'form-control' %> <br/>
      <%= f.text_field :stripe_publishable_key, :placeholder => "Stripe Publishable Key", class: 'form-control' %><br/>
      <%= f.text_field :stripe_secret_key, :placeholder => "Stripe Secret Key", class: 'form-control' %><br/>
      <%= f.label :logo %>
      <%= f.file_field :logo, :placeholder => "Company logo", class: 'form-control' %><br/>
      <%= f.label :company_image %>
      <%= f.file_field :company_image, :placeholder => "Company image", class: 'form-control' %><br/>
      <%= f.label 'Setup New Company Admin'%>
      <%= f.fields_for :admins do |ff|%>
      <%= ff.email_field :email, autofocus: true, :placeholder => "Email", class: 'form-control' %><br/>
          <%= ff.password_field :password, autofocus: true, :placeholder => "Password", class: 'form-control' %><br/>
          <%= ff.password_field :password_confirmation, autofocus: true, :placeholder => "Password Confirmation", class: 'form-control' %>
          <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
      <br/> <br/>
    </div>
<% end %>
