<h1>Edit Company Details</h1>

<br/>
<br/>

<% if @company.company_image.url%><%= link_to image_tag(@company.company_image.url) %> <% end %>

<% if @company.logo.url%><%= link_to image_tag(@company.logo.url) %> <% end %>

<% if @company.logo.url%><%#= link_to image_tag(@company.logo.thumb.url), @company.logo.detail.url %> test<% end %>



<br/>
<br/>

<%= render 'form' %>

<%= link_to 'Show', @company %> |
<%= link_to 'Back', company_path %>
