<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>


<%#= pie_chart Sale.group(:user).count %>
<br/>
<div class="linechart" style="text-align:center;"><h4>Sales made this week</h4><%= line_chart Sale.group_by_day(:created_at, Time.zone.name, (7.days.ago..Time.now)).count, {library: {hAxis: {title: ""}, vAxis: {title: "Number of Sales"}}}%></div>
<div class="piechart"><h4>Sales by Company</h4><%= pie_chart Company.joins(:sales).group(:"companies.name").count %></div>

<%= geo_chart @city_count, library:{region: 'GB', displayMode: 'markers', resolution: 'provinces'} %>

<%#= geo_chart @country_count, library:{region: 'world', displayMode: 'regions', resolution: 'regions'} %>
<%#= geo_chart @city_count.group(:country).count %>

<%#= geo_chart Sale.group(:country).count %>

<br/>
<br/>


<% @companies.each do |company| %>
    <div class="row row-center" style="text-align:center; display:inline-block;">
      <div class="col-xs-12 custom-col">
        <div class="col-xs-3 logo-col">
        <% if company.logo%>
            <h3 style="color:#666;"><%= company.name[0].capitalize %></h3>
        <% else %>
            <%= link_to image_tag(company.logo.url, :height => 100, :width => 100) %>
        <% end %>
          </div>
        <div class="col-xs-9 listing-companies">
          <h3>
            <%= link_to company.try(:name).capitalize, company_path(company), class:"listing-companies-text" %>
          </h3>
        </div>

      </div>
    </div>
<% end %>

<br/>
<hr>
<br/>
<%= link_to 'New Company', new_company_path %>


