<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="main" ng-controller="CompanySalesController">

<%#= link_to image_tag(@company.company_image.url) %>

  <h1><%= @company.try(:name).capitalize %></h1>
<h5>Admins: <% @company.admins.each do |admin| %>
      <%= admin.email %><br>
      <% end %></h5>

  Number of sales <%= @company.sales.length%> <br/>
  Number of admins <%= @company.admins.length%><br/>
  Number of employees <%= @company.users.length%>

  <br/>

  <%= search_form_for @q, url: company_path do |f| %>
      <p>
        <%= f.text_field :user_email_cont, class: "form-control", placeholder: "Sales person / Company name"  %>
      </p>
      <p>
        <%= f.text_field :description_cont, class: "form-control", placeholder: "Customer / Location" %>
      </p>
      <p>
        <%= f.submit class:"btn" %>
      </p>
  <% end %>

  <br/><br/>

  <table class="table table-hover table-bordered">
    <thead>
    <tr class="info">
      <th class="col-md-2" style="padding-top:20px; padding-bottom:15px"><%= sort_link @q, :created_at %></th>
      <th class="col-md-2" style="padding-top:20px; padding-bottom:15px"><%= sort_link @q, :user, 'Sales person' %></th>
      <!--<th class="col-md-1">Price</th>-->
      <th class="col-md-2" style="padding-top:20px; padding-bottom:15px"><%= sort_link @q, :description, 'Customer' %></th>
      <th class="col-md-1" style="padding-top:20px; padding-bottom:15px"><%= sort_link @q, :location %></th>
      <th class="col-md-1" style="padding-top:20px; padding-bottom:15px"><%= sort_link @q, :paid %></th>
      <th class="col-md-1" style="padding-top:20px; padding-bottom:15px"><%= sort_link @q, :id, 'Sale id' %></th>
      <th class="col-md-2" style="padding-top:20px; padding-bottom:15px">Signature</th>
      <th class="col-md-1" style="padding-top:20px; padding-bottom:15px"></th>
    </tr>
    </thead>
    <tbody>
    <% @sales.each do |sale| %>
        <tr>
          <td><%= sale.created_at.strftime("%d %B") %>, <%= sale.created_at.strftime("%H:%M") %></td>
          <td><% if sale.user %> <%= sale.user.email %><% end %></td>

          <!--<td><%# if sale.description %>₤ <%#= JSON.parse(sale.description.gsub('=>', ':'))["price"] %><%# end %></td>-->
          <td><% if sale.description %><%= JSON.parse(sale.description.gsub('=>', ':'))["name"] %><% end %></td>
          <td><% if sale.description %><%= JSON.parse(sale.description.gsub('=>', ':'))["city"].capitalize %><% end %></td>

          <td><% if sale.paid %> £<%= JSON.parse(sale.description.gsub('=>', ':'))["price"]%><% else %> No <% end %></td>
          <td><%= sale.id %> </td>
          <td><%= image_tag sale.signature, size: "100x40"%></td>
          <td><%= link_to 'Show', sale, class: "btn btn-primary special-button"%></td>


        </tr>
    <% end %>
    </tbody>

  </table>
  <%= paginate @sales %>
  <br/>

<div class="linechart" style="text-align:center;"><h4>Sales this week</h4>
  <%= line_chart @company.sales.group_by_day('sales.created_at', Time.zone.name, (7.days.ago..Time.now)).count, {library: {hAxis: {title: ""}, vAxis: {title: "Number of Sales"}}} %></div>
  <div class="piechart" style="text-align:center;"><h4>Sales by Employee</h4> <%= pie_chart @company.sales.group(:'users.email').count %></div>

  <br/>
  <div class="ukmapcontainer">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div class="numberofsales"><span class="salecount"></span></div>
    <div id="ukmap_canvas" class="ukmap">

    </div>

    <br/>
    <br/>
    <br/>
    <br/>

<% if current_admin.has_role? :superadmin %>
    <%= link_to 'Edit Company', edit_company_path(@company) %>
<% end %>
<br/>

  </div>
<%if !current_admin.has_role? :superadmin %>
    <%= link_to 'New Employee', new_user_path %>
      <% end %>
</div>
