regulated_sales = angular.module('regulated_sales',['controllers','uiGmapgoogle-maps']);



controllers = angular.module('controllers',[]);

regulated_sales.config(['uiGmapGoogleMapApiProvider','$httpProvider','$locationProvider', function (uiGmapGoogleMapApiProvider,$httpProvider,$locationProvider) {

    $locationProvider.html5Mode(true);
    uiGmapGoogleMapApiProvider.configure({

        key: 'AIzaSyCNu74knuPilUFeYEshR6zt7LO5bXfSesw',
        v: '3.17',
        libraries: 'weather,geometry,visualization,places'
    });

}]);

regulated_sales.controller("SalesController", [ '$scope','uiGmapGoogleMapApi','$http', function($scope,uiGmapGoogleMapApi,$http) {
    $scope.message = "hi dere im the trails controller";
    console.log($scope.message)
    $("#map_canvas.angular-google-map-container").css("height", "400px");

    $scope.makeMap = function() {
        uiGmapGoogleMapApi.then(function(maps){
            $scope.count = 1
            $scope.map = {
                center: { latitude:73, longitude: -2 },
                zoom:14,
                Markers: [({
                    latitude: 83,
                    longitude: 5,
                    id: 1,
                    draggable:true
                })],
            };
            $scope.map.visible = true
        });
    };
    $scope.makeMap()
}]);

regulated_sales.controller("SalesIndexController", [ '$scope','uiGmapGoogleMapApi','$http', function($scope,uiGmapGoogleMapApi,$http) {

    $http.get('/sales.json').success (function (data){
        $scope.sales = data
        makeUKMap();

    });

    function makeUKMap(){
        var center = new google.maps.LatLng(53.5,-2.1);
        var map_options = {
            zoom: 6,
            center: center,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        var map = new google.maps.Map(document.getElementById('ukmap_canvas'), map_options);
        console.log(map)
        var marker_options = {
            map: map,
            position: center,
            draggable: true
        };
        var markers = [];
        for( i = 0; i < $scope.sales.length; i++ ) {
            var position = new google.maps.LatLng($scope.sales[i].lat, $scope.sales[i].long);
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: $scope.sales[i].name,
                photo: $scope.sales[i].signature,
                url: $scope.sales[i].id,
                draggable:true
            });
            markers.push(marker);

            (function(marker, i) {
                // add click event
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow = new google.maps.InfoWindow({
                        content: '<div class="eachphoto column-32"><a href="/sales/' + marker.url + '"><img src="' + marker.photo + '"><div class="little_photofooter"><span class="little_photofooter_left">' + marker.title + '"</span></a></div></div>'
                    });
                    infowindow.open(map, marker);
                });
            })(marker, i);
        }

        var mc = new MarkerClusterer(map, markers);
        console.log(markers.length)


        var input = /** @type {HTMLInputElement} */(
                document.getElementById('pac-input'));
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        var searchBox = new google.maps.places.SearchBox(
                /** @type {HTMLInputElement} */(input));

        // Listen for the event fired when the user selects an item from the
        // pick list. Retrieve the matching places for that item.
        google.maps.event.addListener(searchBox, 'places_changed', function() {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }
            for (var i = 0, marker; marker = markers[i]; i++) {
                marker.setMap(null);
            }

            // For each place, get the icon, place name, and location.
            // markers = [];
            var bounds = new google.maps.LatLngBounds();
            for (var i = 0, place; place = places[i]; i++) {
                var image = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                bounds.extend(place.geometry.location);
            }

            console.log(bounds)
            map.fitBounds(bounds);

        })

        google.maps.event.addListener(map, 'idle', function() {
            countmarkers = 0;
            for(var i = markers.length, bounds = map.getBounds(); i--;) {
                if( bounds.contains(markers[i].getPosition()) ){
                    countmarkers ++;
                }
            }
            visiblemarkers = countmarkers
            if (visiblemarkers > 1){
                $('span.salecount').html(countmarkers + " Sales in current area");
            }else if (visiblemarkers === 1){
                $('span.salecount').html(countmarkers + " Sale in current area");
            }else {
                $('span.salecount').html("No sales in this area");
            }
        });

        $scope.loading = false;

    }

}]);

regulated_sales.controller("CompanySalesController", [ '$scope','uiGmapGoogleMapApi','$http','$location', function($scope,uiGmapGoogleMapApi,$http,$location) {
console.log($location)
    $http.get($location.path() + '.json').success (function (data){
        $scope.sales = data.sales
        console.log($scope.sales)
        makeUKMap();

    });

    function makeUKMap(){
        var center = new google.maps.LatLng(53.5,-2.1);
        var map_options = {
            zoom: 6,
            center: center,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        var map = new google.maps.Map(document.getElementById('ukmap_canvas'), map_options);
        console.log(map)
        var marker_options = {
            map: map,
            position: center,
            draggable: true
        };
        var markers = [];
        for( i = 0; i < $scope.sales.length; i++ ) {
            var position = new google.maps.LatLng($scope.sales[i].lat, $scope.sales[i].long);
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: $scope.sales[i].name,
                photo: $scope.sales[i].signature,
                url: $scope.sales[i].id,
                draggable:true
            });
            markers.push(marker);

            (function(marker, i) {
                // add click event
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow = new google.maps.InfoWindow({
                        content: '<div class="eachphoto column-32"><a href="/sales/' + marker.url + '"><img src="' + marker.photo + '"><div class="little_photofooter"><span class="little_photofooter_left">' + marker.title + '"</span></a></div></div>'
                    });
                    infowindow.open(map, marker);
                });
            })(marker, i);
        }

        var mc = new MarkerClusterer(map, markers);
        console.log(markers.length)


        var input = /** @type {HTMLInputElement} */(
                document.getElementById('pac-input'));
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        var searchBox = new google.maps.places.SearchBox(
                /** @type {HTMLInputElement} */(input));

        // Listen for the event fired when the user selects an item from the
        // pick list. Retrieve the matching places for that item.
        google.maps.event.addListener(searchBox, 'places_changed', function() {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }
            for (var i = 0, marker; marker = markers[i]; i++) {
                marker.setMap(null);
            }

            // For each place, get the icon, place name, and location.
            // markers = [];
            var bounds = new google.maps.LatLngBounds();
            for (var i = 0, place; place = places[i]; i++) {
                var image = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                bounds.extend(place.geometry.location);
            }

            console.log(bounds)
            map.fitBounds(bounds);

        })

        google.maps.event.addListener(map, 'idle', function() {
            countmarkers = 0;
            for(var i = markers.length, bounds = map.getBounds(); i--;) {
                if( bounds.contains(markers[i].getPosition()) ){
                    countmarkers ++;
                }
            }
            visiblemarkers = countmarkers
            if (visiblemarkers > 1){
                $('span.salecount').html(countmarkers + " sales in current area");
            }else if (visiblemarkers === 1){
                $('span.salecount').html(countmarkers + " sale in current area");
            }else {
                $('span.salecount').html("No sales in this area");
            }
        });

        $scope.loading = false;

    }

}]);


