<ul class="nav nav-sidebar">
  welcome back <%= current_admin.email%><br>
  <%= current_admin.company.name%><br>
  <hr>
  cells gem here? - to show companies <br>
  <%= link_to 'view all companies', companies_path %><br>
  <%= link_to 'view all sales', sales_path %><br>
  <hr>
  <%= link_to 'New Company', new_company_path %>





</ul>
