<%if current_admin %>

hi dere <%= current_admin.email%>

    <h3>companies: <% @companies.each do |company| %>
          <%= link_to company.name, company %>
      <% end %></h3>

<% else %>

not logged in

<%end %>
