// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nav-sidebar{
  margin-left: 0 !important;
}
.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

.navbar-custom{
  background-color: white;
  border-bottom: 1px solid gray;
}
.table td {
  text-align: center;
}

.table th {
  text-align: center;
}

.piechart{
  width: 40%;
  display: inline-block;

}

.linechart{
  width: 58%;
  display: inline-block;
}


.individual-map{
  display: inline-block;
  width: 500px;
  padding-top:50px;
//  max-width: 100%;
}


.listing-companies{
  float: left;
  height: 150px;
  padding: 50px 0px;
  background-color: #F5F5F5;
  color: black;
}

.custom-col{
  width: 600px;
  height:150px;
  border-bottom: 20px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white;
  margin: 0 auto;
  display: inline-block;
}

.listing-companies:hover{
  background-color: #DCDCDC;
}

.logo-col{
  background-color: white;
  float:left;
  display: inline-block;
  height:150px;
  padding-top: 20px;
}

.listing-companies-text{
  color: #666;
}
.listing-companies-text:visited{
  color: #666;
  text-decoration: none;
}

.listing-companies-text:hover{
  color: #666;
  text-decoration: none;
  background-color: #DCDCDC;
}