// Place all the styles related to the Sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.angular-google-map-container {

//  margin-left:28px;
  width: 100%;
  height: 382px;
}

/* map */
.ukmapcontainer {
  margin-top: -13px;
//  background: #f5f6f1;
}

#pac-input {
  background-color: #f5f6f1;
  padding: 0 11px 0 13px;
  width: 200;
  font-family: Roboto;
  float: left;
  margin-top: 32px;
  font-size: 15px;
  margin-left: 9%;
  font-weight: 300;
  z-index: 500;
  text-overflow: ellipsis;
}


.ukmap {
  height: 400px;
  width: 100%;
  margin: auto;
}

.numberofsales {
  margin-top: 55px;
  float: right;
  margin-right: 12%;
  z-index: 6000;
  color: #9dadb4;
  text-align: left;
}

.special-button:visited{
  color: #FFFFFF;
}