<ul class="nav nav-sidebar">
  <b>Welcome back </b> <%= current_admin.email%><br>
  <%= current_admin.company.name%><br/><br/>

  <p><%#= link_to image_tag(current_admin.company.company_image.thumb.url), current_admin.company.company_image.detail.url %></p>



</ul>
