<%= simple_form_for(@sale) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :filename %>
    <%= f.input :signature %>
    <%= f.input :description %>
    <%= f.input :hasvideo %>
    <%= f.input :product %>
    <%= f.input :customer %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
