<div class="main" ng-controller="SalesIndexController">
<h1>Listing sales</h1>
    signed in as <%= current_admin.try(:email) %>

<br/>
<br/>

<%= search_form_for @q do |f| %>
    <p>
      <%= f.text_field :user_email_cont, class: "form-control", placeholder: "Sales person / Company name"  %>
    </p>
      <p>
      <%= f.text_field :description_cont, class: "form-control", placeholder: "Customer / Location" %>
    </p>
    <p>
      <%= f.submit class:"btn" %>
    </p>
<% end %>

<br/><br/>

<table class="table table-hover table-bordered">
  <thead>
  <tr class="info">
    <th class="col-md-2" style="padding-top:20px; padding-bottom:15px"><%= sort_link @q, :created_at %></th>
    <th class="col-md-1" style="padding-top:20px; padding-bottom:15px"><%= sort_link @q, :name, 'Company' %></th>
    <th class="col-md-2" style="padding-top:20px; padding-bottom:15px"><%= sort_link @q, :user, 'Sales person' %></th>
    <!--<th class="col-md-1">Price</th>-->
    <th class="col-md-2" style="padding-top:20px; padding-bottom:15px"><%= sort_link @q, :description, 'Customer' %></th>
    <th class="col-md-1" style="padding-top:20px; padding-bottom:15px"><%= sort_link @q, :location %></th>
    <th class="col-md-1" style="padding-top:20px; padding-bottom:15px"><%= sort_link @q, :paid %></th>
    <th class="col-md-1" style="padding-top:20px; padding-bottom:15px"><%= sort_link @q, :id, 'Sale id' %></th>
    <th class="col-md-2" style="padding-top:20px; padding-bottom:15px">Signature</th>
    <th class="col-md-1" style="padding-top:20px; padding-bottom:15px"></th>
  </tr>
  </thead>
  <tbody>
  <% @sales.each do |sale| %>
  <tr>
    <td><%= sale.created_at.strftime("%d %B") %>, <%= sale.created_at.strftime("%H:%M") %></td>
    <td><%= sale.user.company.name.capitalize %></td>
    <td><%= sale.user.try(:email) %></td>

        <!--<td><%# if sale.description %>₤ <%#= JSON.parse(sale.description.gsub('=>', ':'))["price"] %><%# end %></td>-->
        <td><% if sale.description %><%= JSON.parse(sale.description.gsub('=>', ':'))["name"] %><% end %></td>
        <td><% if sale.description %><%= JSON.parse(sale.description.gsub('=>', ':'))["city"].capitalize %><% end %></td>

    <td><% if sale.paid %>£<%= JSON.parse(sale.description.gsub('=>', ':'))["price"]%><% else %> No <% end %></td>
    <td><%= sale.id %> </td>
    <td><%= image_tag sale.signature, size: "100x40"%></td>
    <td><%= link_to 'Show', sale, class: "btn btn-primary special-button"%></td>


  </tr>
      <% end %>
  </tbody>
</table>
  <%= paginate @sales %>



  <div class="ukmapcontainer">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div class="numberofsales"><span class="salecount"></span></div>
    <div id="ukmap_canvas" class="ukmap">

    </div>

  </div>

<%= link_to 'New Sale', new_sale_path %>
</div>
