<div class="main" ng-controller="SalesController">
<p id="notice"><%= notice %></p>

<h2><% if @sale.description %><%= JSON.parse(@sale.description.gsub('=>', ':'))["name"] %><% end %></h2>

<br/>
  <br/>

<table class="table table-hover table-bordered" style="max-width: 50%; float: left;">
  <tr>
    <td class="info col-md-3">Sale Id</td>
    <td><%= @sale.id %></td>
  </tr>
  <tr>
    <td class="info">Company Name</td>
    <td><%= @sale.company.name.capitalize %></td>
  </tr>
  <tr>
    <td class="info">Customer</td>
    <td><% if @sale.description %><%= JSON.parse(@sale.description.gsub('=>', ':'))["name"] %><% end %></td>
  </tr>
  <tr>
    <td class="info">Sold by</td>
    <td><%= @sale.user.try(:email) %></td>
  </tr>
  <tr>
    <td class="info">City</td>
    <td><% if @sale.description %><%= JSON.parse(@sale.description.gsub('=>', ':'))["city"].capitalize %><% end %></td>
  </tr>
  <tr>
    <td class="info">Date & time</td>
    <td><%= @sale.created_at.strftime("%d %B") %>, <%= @sale.created_at.strftime("%H:%M") %></td>
  </tr>
  <tr>
    <td class="info">Location</td>
    <td><%= @sale.lat %>,<%= @sale.long %></td>
  </tr>
  <tr>
    <td class="info">Product</td>
    <td><%= @sale.product.name %></td>
  </tr>
  <tr>
    <td class="info">Product ID</td>
    <td><%= @sale.product_id %></td>
  </tr>
  <tr>
    <td class="info">Plan ID</td>
    <td><%= @sale.plan_id %></td>
  </tr>
  <tr>
    <td class="info">Paid?</td>
    <td><% if @sale.paid %> £<%= JSON.parse(Sale.first.description.gsub('=>', ':'))["price"]%> <% else %> No <% end %></td>
  </tr>
  <tr>
    <td class="info">Stripe Key?</td>
    <td><% if @sale.stripe_publishable_key %> Yes <% else %> No <% end %> </td>
  </tr>
  <tr>
    <td class="info">Signature</td>
    <td><%= image_tag @sale.signature, size: "100x40"%></td>
  </tr>
  <tr>
    <td class="info">Has video?</td>
    <td><% if @sale.hasvideo %>   <video width="480" height="320" controls="controls">
      <source src=<%= @sale.clip %> type="video/mp4">
    </video> <% else %> no video <% end %></td>
  </tr>
</table>



  <div id="map_canvas" class="individual-map" ng-if="map.visible" style="float: left; padding-left: 60px; margin: 0px;">
    <ui-gmap-google-map center={"latitude":<%=@sale.lat%>,"longitude":<%=@sale.long%>} zoom='map.zoom' bounds='map.bounds' class="thetrailmap" control='map' events="map.events">
      <ui-gmap-markers models=[{"latitude":<%=@sale.lat%>,"longitude":<%=@sale.long%>,"id":1,"draggable":true}] coords="'self'" icon="'icon'" >
      </ui-gmap-markers>
    </ui-gmap-google-map>

</div>


</div>
