<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <% if !current_admin%>
  <a class="navbar-brand" href="/">Regulated Sales</a>
      <% elsif current_admin.has_role? :superadmin %>
      <a class="navbar-brand" href="/"> God View</a>
      <% else %>
      <% if current_admin.company.company_image.length == 0 %>
          <%= current_admin.company.company_image %><a class="navbar-brand" href="/"><%= current_admin.company.name%></a><% else %><%= link_to image_tag(current_admin.company.company_image.url, :height => 48) %><% end %>

      <%end%>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">

    <li><a class="" href="#">Test top</a></li>

    <% if current_admin %>
        <li>
          <%= link_to "Log Out", destroy_admin_session_path, :method => :delete %>
        </li>
    <% else %>
        <li>
          <%= link_to "Login", new_admin_session_path %>
        </li>
    <% end %>

  </ul>
  <!--form class="navbar-form navbar-right">
    <input type="text" class="form-control" placeholder="Search...">
  </form-->
</div>
