<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "RegulatedSalesServer" %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "application" %>
</head>
<body ng-app="regulated_sales">

<% if !current_admin %>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

<% elsif current_admin.has_role? :superadmin%>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">

  <% else %>

    <div class="navbar navbar-custom navbar-fixed-top navbar-inner" role="navigation">

      <% end %>

  <div class="container-fluid">
    <%= render 'layouts/top_nav' %>

  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <%if current_admin && current_admin.id == 2%>
        <%= render 'super/dashboard/super_sidebar' %>
      <% elsif current_admin %>
        <%= render 'companies/dashboard/company_sidebar' %>
      <% else %>
        <%= render 'layouts/sidebar_nav' %>
      <%end%>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <%= render 'layouts/messages' %>

      <%= yield %>

    </div>
  </div>
</div>


</body>
</html>
